
        /*form {
    border: 3px solid #f1f1f1;
    background-image:url(background1.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}*/
        /*body{
            background-image:url(background1.jpg);
            background-repeat:repeat;
            width:auto;
            height:auto;
        }*/

        #bgm2{
        
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  background-repeat: repeat;
             width:auto;
            height:auto;
             

        }
           #bgm1{
             
      
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  background-repeat: repeat;
           height:450px;
           width:auto;
        }
        #bgm{
             
             background: linear-gradient(#648880, #293f50);
  border-radius: 6px;

            width:auto;
            height:700px;
        }
        #btnk{
            box-shadow:-1px -1px 0px black;


        }

        #gdcnt{
            align-items:center;

        }
        .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.countgd {
    margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#bon {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    align-content:center;
    font-size:100%;
}

button:hover {
    opacity: 0.8;
}

label{
    color:black;
    font-family:'Palatino Linotype';
    font-size:medium;
    
    font-style:italic,oblique;

}
.imgcontainer {
    align-content : center;
    text-align: center;
    margin: 12px 0 12px 0;
    padding-top:30px;
}

img.avatar {
    width: 20%;
    border-radius: 10%;

}

.container {
    
    padding-left:500px;
    padding-top:1px;
    padding-bottom:1px;
    align-content : center;
    
}

span.psw {
    float: right;
    padding-top: 160px;
}
h1{
    text-align:center;
    font-size:320%;
    font-family:'Palatino Linotype';
    font-style:italic;
    color:black;
}
.btnbgm
{
      border-radius: 3px 10px 3px 10px;
    box-shadow: 1px 2px 5px #666;
}
    .btnbgm:hover {
        border: 0;
        box-shadow: 1px 2px 5px orangered;
        cursor:pointer;
       
    }
    span.bottom{
         vertical-align: text-bottom;
    }

    .report{

        width:auto;
        height:700px;
    }